:root {
  --color-primary: #5ba0d7;
  --color-second: #131FCA;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

*,
*::before,
*::after {
  transition: all 0.3s linear !important;
  -webkit-transition: all 0.3s linear !important;
  -moz-transition: all 0.3s linear !important;
  -ms-transition: all 0.3s linear !important;
  -o-transition: all 0.3s linear !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.nav-link {
  position: relative !important;
}

.text-primary,
.nav-link.active,
.nav-link:hover {
  color: var(--color-primary) !important;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 50%;
  width: 100%;
  background-color: var(--color-primary);
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0) !important;
  -webkit-transform: scaleX(0) !important;
  -moz-transform: scaleX(0) !important;
  -ms-transform: scaleX(0) !important;
  -o-transform: scaleX(0) !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transform-origin: center;
}

.nav-link.active::before,
.nav-link:hover::before {
  transform: scaleX(1) !important;
  -webkit-transform: scaleX(1) !important;
  -moz-transform: scaleX(1) !important;
  -ms-transform: scaleX(1) !important;
  -o-transform: scaleX(1) !important;
}

.navbar {
  padding: 1.5rem;
  position: fixed;
  background: transparent !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999 !important;
  /* background: rgba(255, 255, 255, 0.5) !important; */
  backdrop-filter: blur(10px);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.navbar.active {
  padding: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#home {
  height: 100vh;
  background: linear-gradient(to right bottom, #fff, #5ba0d765) !important;
}

.h-full {
  height: 100%;
}

.image-hero {
  width: 80%;
  height: auto;
  position: relative;
}

.image-hero img {
  /* box-shadow: 0 0 15px rgba(0, 0, 0, .4); */
  width: 100%;
  height: auto;
}

.image-about {
  flex: 0 0 40%;
}

.text-about {
  flex: 0 0 60%;
}

.hero-left,
.hero-right {
  flex: 0 0 50%;
}

.animation-icon {
  width: 25% !important;
  height: auto !important;
  position: absolute;
  transform: translateY(5px);
  animation: icon 2s infinite;
  -webkit-animation: icon 2s infinite alternate;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.pe-7 {
  padding-right: 3rem;
}

@keyframes icon {
  to {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

.animation-icon:nth-child(1) {
  left: -65px;
  bottom: 12%;
}

.animation-icon:nth-child(2) {
  right: -50px;
  bottom: 30%;
}

.animation-icon:nth-child(3) {
  left: -50px;
  top: 15%;
}

.btn:hover {
  background-color: #2f88d1 !important;
}

.btn.btn-border {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.btn.btn-border:hover {
  color: white;
  background-color: var(--color-primary) !important;
}

.btn-about {
  background-color: var(--color-second);
  color: white;
}

.btn-about:hover {
  background-color: #303eff !important;
}

#about {
  background-color: var(--color-primary);
  padding-bottom: 6rem !important;
  padding-top: 5rem !important;
}

/* #about.py-5 {
  padding: 6.5rem 0 !important;
} */

#about .image-wrapper {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  border: 0.36rem solid var(--color-second);
}

.img-about {
  object-fit: contain;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.box {
  width: fit-content;
  position: absolute;
  left: 50%;
  right: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 25%);
  -webkit-transform: translate(-50%, 25%);
  -moz-transform: translate(-50%, 25%);
  -ms-transform: translate(-50%, 25%);
  -o-transform: translate(-50%, 25%);
}

.language {
  width: 40px;
  height: auto;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.5;
}

.language:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 1;
}

#projects .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background: var(--color-primary);
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#projects .card {
  height: 100%;
}

.card .card-image {
  width: 100%;
  height: 250px !important;
  overflow: hidden;
}

.card .card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
a.text-body-secondary:hover {
  color: #444 !important;
}

@media screen and (max-width: 1200px) {
  #home {
    height: auto;
  }

  #home.py-5 {
    padding-top: 8rem !important;
    padding-bottom: 10rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  
  .hero-left,
  .hero-right {
    flex: 0 0 100%;
  }

  .hero-left.pe-7 {
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  #about .image-wrapper {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .language {
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}